<a href="https://colab.research.google.com/github/CardosoJr/bootcamp/blob/main/Labs/Lab%200%20-%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab - Sprint 1 - Python

Vamos revisar neste lab os conceitos aprendidos na sprint 1.

## Colab

Primeiro, a título de curiosidade. Algumas funcionalidades de jupyter notebooks e do colab

### Equações

$\sum_{i} x_i$

### GUI

In [ ]:
#@title String fields

text = 'oii' #@param {type:"string"}
dropdown = '1st option' #@param ["1st option", "2nd option", "3rd option"]
text_and_dropdown = 'value' #@param ["1st option", "2nd option", "3rd option"] {allow-input: true}

In [ ]:
#@title Slider. { display-mode: "form" }
number_slider = -0.9 #@param {type:"slider", min:-1, max:1, step:0.1}

In [ ]:
#@title Date fields
date_input = '2018-03-22' #@param {type:"date"}

print(date_input)

## Variáveis Básicas e suas Operações

### Numéricas

In [1]:
a = 1

In [ ]:
a

1

In [ ]:
b = 'olá, mundo!'
b

'olá, mundo!'

In [ ]:
a = 3
int(a / 2)

1

### Strings

In [ ]:
final

' olá mundo !'

In [ ]:
final.upper()

' OLÁ MUNDO !'

In [ ]:
final.replace("!", "?")

' olá mundo ?'

In [ ]:
final.count("o")

2

In [ ]:
final.upper()

' OLÁ MUNDO !'

In [ ]:
final = final.upper()

In [ ]:
final

' OLÁ MUNDO !'

In [ ]:
int("olá")

ValueError: ignored

## Listas

In [ ]:
a = [3, 5, 10, 11]

In [ ]:
a[-1]

11

In [5]:
lista = [5, 4, 1, 10]
sorted(lista)

[1, 4, 5, 10]

In [ ]:
a = [10, 99, 1, 50, -10]

In [ ]:
a

[10, 99, 1, 50, -10]

In [ ]:
sorted(a)

[-10, 1, 10, 50, 99]

In [ ]:
min(a)

-10

In [ ]:
max(a)

99

In [ ]:
a + a

[10, 99, 1, 50, -10, 10, 99, 1, 50, -10]

In [ ]:
a - a

TypeError: ignored

In [ ]:
a * 3

[10, 99, 1, 50, -10, 10, 99, 1, 50, -10, 10, 99, 1, 50, -10]

In [ ]:
a[0]

10

In [ ]:
a = sorted(a)

In [ ]:
a[0]

-10

In [ ]:
a = ["olá", "anilton", "!"]

In [ ]:
a

['olá', 'anilton', '!']

In [ ]:
sorted(a)

['!', 'anilton', 'olá']

### Slicing
`lista[start:stop:step]`

In [6]:
lista = [10, 5, 1, 8, 12, 13,20, 0, 1, 12, 4]

In [7]:
lista[1:]

[5, 1, 8, 12, 13, 20, 0, 1, 12, 4]

In [8]:
lista[2:5]

[1, 8, 12]

In [9]:
lista[:6]

[10, 5, 1, 8, 12, 13]

In [10]:
lista[1:8:2]

[5, 8, 13, 0]

In [11]:
lista[::-1]

[4, 12, 1, 0, 20, 13, 12, 8, 1, 5, 10]

In [ ]:
b = ["olá", "mundo", "!"]

In [ ]:
b[0]

'olá'

In [ ]:
c = [[1,2], [3,4], [5,6]]

In [ ]:
c[0][0]

1

## Loops / Ciclos e Condicionais

Executam um código em ciclo até que determinada condição seja alcançada

Queremos imprimir todos os números dessa lista, como devemos fazer?

In [15]:
a = [10, 5, 1, 89, 23, 33, 41,1,9,-10, 5,100, 150,2200]

Desenvolver manualmente o print de cada elemento?

In [16]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])

10
5
1
89
23
33

E se nossa lista tivesse 10 mil elementos. Iríamos gastar quanto tempo escrevendo cada `print`.

Para "automatizar" essas tarefas repetitivas, fazemos um loop

In [18]:
for elemento in a:
  print(elemento)

10
5
1
89
23
33
41
1
9
-10
5
100
150
2200

Alguns outros exemplos

In [ ]:
idades = [10, 20, 30, 5, 15, 20, 5, 10, 4, 8, 12, 20]

# Filtrar idades maiores que 15
idades_maiores_15 = []
for elemento in idades:
  if elemento > 15:
    idades_maiores_15.append(elemento)

Podemos ver o loop como uma série de execuções em sequência, um exemplo de do `for` "desenrolado" abaixo

In [ ]:
# # PRIMEIRA ITERAÇÃO DO LOOP
# elemento = idades[0]
# if elemento > 15:
#   idades_maiores_15.append(elemento)

# # SEGUNDA ITERAÇÃO DO LOOP
# elemento = idades[1]
# if elemento > 15:
#   idades_maiores_15.append(elemento)

# # TERCEIRA ITERAÇÃO DO LOOP
# elemento = idades[2]
# if elemento > 15:
#   idades_maiores_15.append(elemento)

In [12]:
b = ["olá", "mundo", "!"]

In [13]:
for elemento in b:
  print(elemento)

olá
mundo
!

In [14]:
final = ""
for elemento in b:
  final = final + " " + elemento
final

' olá mundo !'

In [ ]:
kcal_food = [300, 200, 100, 500, 400, 420, 300]

# quantas refeições com menos de 300 kcal?

count = 0
for kcal in kcal_food:
  if kcal < 300:
    count += 1

print(count)

2

**Quantas pessoas nós temos que cobrar para atingir um valor maior ou igual a 1000 reais**

In [19]:
devem = [100, 500, 200,300,500,900,1000,233,100]

In [20]:
# Quantas pessoas nós temos que cobrar para atingir um valor maior ou igual a 1000 reais
divida_total = 0
numero_devedores = 0
for divida in devem:
  divida_total = divida_total + divida
  numero_devedores = numero_devedores + 1

  # print(divida_total, numero_devedores)

  if divida_total >= 1000:
    break

print(f"A quantidade de pessoas que temos que cobrar é {numero_devedores}.")
print(f"O valor total cobrado é R$ {divida_total:.2f}.")

A quantidade de pessoas que temos que cobrar é 4.
O valor total cobrado é R$ 1100.00.

Vamos fazer um exemplo com o `while`

In [ ]:
divida_total = 0
numero_devedores = 0
indice = 0

while divida_total < 1000:
  divida = devem[indice]

  divida_total = divida_total + divida
  numero_devedores = numero_devedores + 1
  indice = indice + 1
  print(divida_total)

**Quem é a pessoa que mais deve?**

In [22]:
devem = [["Fulano", 200],
         ["Fulano 2", 400],
         ["Fulano 3", 230],
         ["Fulano 4", 500],
         ["Fulano 5", 534],
         ["Fulano 6", 120],
         ["Fulano 7", 230],
         ["Fulano 8", 40],
    ]

In [23]:
nome_maior_devedor = ""
valor_devido_maior_devedor = 0

for pessoa in devem:
  nome_pessoa = pessoa[0]
  valor_devido = pessoa[1]

  if valor_devido > valor_devido_maior_devedor:
    nome_maior_devedor = nome_pessoa
    valor_devido_maior_devedor = valor_devido
    print(f"O maior devedor foi atualizado. Agora é {nome_maior_devedor} ({valor_devido_maior_devedor})")
  else:
    print(f"{nome_pessoa} nunca foi o maior devedor")

O maior devedor foi atualizado. Agora é Fulano (200)
O maior devedor foi atualizado. Agora é Fulano 2 (400)
Fulano 3 nunca foi o maior devedor
O maior devedor foi atualizado. Agora é Fulano 4 (500)
O maior devedor foi atualizado. Agora é Fulano 5 (534)
Fulano 6 nunca foi o maior devedor
Fulano 7 nunca foi o maior devedor
Fulano 8 nunca foi o maior devedor

In [24]:
devem = [["Fulano", [200, 500, 100, 50]],
         ["Fulano 2", [123,500,100]],
         ["Fulano 3", [123]],
         ["Fulano 4", [500,10,5]],
         ["Fulano 5", [123,40]],
         ["Fulano 6", [12, 54]],
         ["Fulano 7", [12,32,55,11,23,2323]],
         ["Fulano 8", [123,11,42]],
    ]

In [25]:

nome_maior_devedor = ""
valor_devido_maior_devedor = 0

for pessoa in devem:
  nome_pessoa = pessoa[0]
  valores_devidos = pessoa[1]
  valor_total_devido = sum(valores_devidos)

  if valor_total_devido > valor_devido_maior_devedor:
    nome_maior_devedor = nome_pessoa
    valor_devido_maior_devedor = valor_total_devido
    print(f"O maior devedor foi atualizado. Agora é {nome_maior_devedor} ({valor_devido_maior_devedor})")
  else:
    print(f"{nome_pessoa} nunca foi o maior devedor")

O maior devedor foi atualizado. Agora é Fulano (850)
Fulano 2 nunca foi o maior devedor
Fulano 3 nunca foi o maior devedor
Fulano 4 nunca foi o maior devedor
Fulano 5 nunca foi o maior devedor
Fulano 6 nunca foi o maior devedor
O maior devedor foi atualizado. Agora é Fulano 7 (2456)
Fulano 8 nunca foi o maior devedor

### Alguns exercícios


**Quantas vezes jogamos o dado até o que o 3 tenha saído duas vezes?**

In [27]:
jogadas_de_dado = [3, 6, 5, 2, 6, 5, 4, 4, 4, 2, 1, 2, 5, 5, 6, 4, 1, 4, 1, 5, 3, 4, 3, 1, 5, 3, 3, 6, 2, 5]

# quantas vezes jogamos o dado até o que o 3 tenha saído duas vezes?
count = 0
i = 0
while count < 2:
  if jogadas_de_dado[i] == 3:
    count += 1
  i += 1

print(i)

21

**Quem aparece duas vezes primeiro? O 3 ou o 2?**

In [ ]:

count_2 = 0
count_3 = 0
i = 0
while count_2 < 2 and count_3 < 2:
  if jogadas_de_dado[i] == 3:
    count_3 += 1
  elif jogadas_de_dado[i] == 2:
    count_2 += 1
  i += 1

In [ ]:
count_2, count_3

(2, 1)

**Qual número aparece duas vezes primeiro?**

In [28]:
cont_dados = [0] * 6
interrompe_loop = False

for i in jogadas_de_dado:
  cont_dados[i - 1] += 1
  print(cont_dados)

  for cont in cont_dados:
    if cont == 2:
      print('Vamos interromper o loop')
      interrompe_loop = True
      break

  if interrompe_loop == True:
    break

[0, 0, 1, 0, 0, 0]
[0, 0, 1, 0, 0, 1]
[0, 0, 1, 0, 1, 1]
[0, 1, 1, 0, 1, 1]
[0, 1, 1, 0, 1, 2]
Vamos interromper o loop

**Qual é valor total do saldo dos aposentados?**

Nesta lista temos,

CPF, Nome, Idade, Saldo com INSS e setores das dívidas.

Assume-se que se aposenta aos 60 anos.

In [29]:
citizens = [
    [3428563, ['Joseph', 'Kobe', 'Steeler'], 74, [-465, 156, -567, -6051, 8607], ['taxes', 'social security']],
    [3455215, ['Rozalia', 'Luxemburg'], 47, [654, -894, -1654], ['housing', 'social security']],
    [1234567, ['John', 'Doe'], 45, [123, -456, 789], ['healthcare', 'education']],
    [2345678, ['Jane', 'Smith'], 32, [-987, 654, -321], ['education', 'housing']],
    [3456789, ['Michael', 'Johnson'], 60, [567, -890, 1234], ['taxes', 'housing']],
    [4567890, ['Emily', 'Davis'], 28, [456, -789, 123], ['healthcare', 'social security']],
    [5678901, ['David', 'Brown'], 62, [-876, 543, -210], ['housing', 'education']],
    [6789012, ['Sarah', 'Wilson'], 38, [987, -654, 321], ['healthcare', 'social security']],
    [7890123, ['Kevin', 'Jones'], 41, [-234, 567, -890], ['taxes', 'housing']]
    ]

total_saldo_aposentados = 0
for pessoa in citizens:
  if pessoa[2] >= 60:
    total_saldo_aposentados = total_saldo_aposentados + sum(pessoa[3])
    print(total_saldo_aposentados)

print(f"O saldo total dos aposentados é R$ {total_saldo_aposentados}")

1680
2591
2048
O saldo total dos aposentados é R$ 2048

**Qual é valor total da dívida dos aposentados?**

In [ ]:
total_divida = 0
for pessoa in citizens:
  if pessoa[2] >= 60:
    for divida in pessoa[3]:
      if divida < 0:
        total_divida += divida
print(f"A dívida total dos aposentados é R$ {total_divida}")

**Imprima todos os números pares até o 100**

In [30]:
for i in range(101):
  if i % 2 == 0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

**Imprima todos os números primos entre 2 e 100**

In [31]:
numeros_primos = []
for numero in range(2,101):
  primo = True

  for teste in range(2, numero):
    if numero % teste == 0:
      primo = False
      break

  if primo == True:
    numeros_primos.append(numero)

print(numeros_primos)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### List Comprehension

In [ ]:
a = [10, 5, 20, 30]

In [ ]:
a2 = []

for elemento in a:
  a2.append(elemento * 2)

In [ ]:
a2

[20, 10, 40, 60]

In [ ]:
a2 = [elemento * 2 for elemento in a]

In [ ]:
a2 = {elemento : elemento * 2 for elemento in a}

In [ ]:
a2[5]

10

## Dicionários

In [ ]:
a = {"car" : "carro",
     "cat" : "gato",
     "dog" : 'cachorro'
}

In [ ]:
a

{'car': 'carro', 'cat': 'gato', 'dog': 'cachorro'}

In [ ]:
a['car']

'carro'

In [ ]:
a.get('car')

'carro'

In [ ]:
a.get("house")

In [ ]:
print(a.get("house"))

None

In [ ]:
a['house'] = 'casa'

In [ ]:
del a['house']

In [ ]:
a

{'car': 'carro', 'cat': 'gato', 'dog': 'cachorro'}

In [ ]:
for chave, valor in a.items():
  print(chave, valor)

car carro
cat gato
dog cachorro

In [ ]:
a.keys()

dict_keys(['car', 'cat', 'dog'])

In [ ]:
a.values()

dict_values(['carro', 'gato', 'cachorro'])

In [ ]:
capitais = {"Brasil" : "Brasília",
            "Argentina" : "Buenos Aires"
            }

In [ ]:
if "Colombia" in capitais:
  print("Existe o país colombia no dicionário capitais")
else:
  print("Não existe")

In [ ]:
capitais['Europa'] = ["Berlim", "Paris", "Londres", "Lisboa"]

In [ ]:
catalog = {"papel": 5, "caneta": 10, "caderno": 50, "tinta": 8}
products_sold = ["papel", "papel", "caneta", "caneta", "caderno", "caderno", "papel", "tinta", "papel"]

# Quanto custou o pedido?

total_pedido = 0
for product in products_sold:
  total_pedido += catalog[product]

print(total_pedido)

148

### Exemplos com Dicionários e Loops

In [ ]:
lista_devedores = [{"Nome" : "Fulano",
                    "Telefone" : "999999999",
                    "Endereço" : {"Rua" : "Rua X",
                                  "Número" : 142
                                  },
                    "Valores" : [100, 50, 300, 100]
                    },

                    {"Nome" : "Ciclano",
                    "Telefone" : "8888888888",
                    "Endereço" : {"Rua" : "Rua 2",
                                  "Número" : 541
                                  },
                     "Valores" : [3000, 100]
                    },

                   {"Nome" : "Fulano 2",
                    "Telefone" : "8888888888",
                    "Endereço" : {"Rua" : "Rua 4",
                                  "Número" : 511
                                  },
                     "Valores" : []
                    },

                   {"Nome" : "Ciclano 2",
                    "Telefone" : "8888888888",
                    "Endereço" : {"Rua" : "Rua 6",
                                  "Número" : 5231
                                  },
                     "Valores" : [10]
                    }
]

In [ ]:
total_devido = 0
for devedor in lista_devedores:
  total_devido += sum(devedor['Valores'])
total_devido

In [ ]:
resumo = {}

for devedor in lista_devedores:
  nome = devedor['Nome']
  total_devido = sum(devedor['Valores'])

  resumo[nome] = total_devido
resumo

In [ ]:
nome_pessoa_mais_devedora = ""
maior_valor_devido = 0

for devedor in lista_devedores:
  nome = devedor['Nome']
  total_devido = sum(devedor['Valores'])

  if total_devido > maior_valor_devido:
    maior_valor_devido = total_devido
    nome_pessoa_mais_devedora = nome

print(f"A pessoa que mais deve é {nome_pessoa_mais_devedora}. Total de R$ {maior_valor_devido:.2f}")

## Funções

In [ ]:
def multiplica_por_2(lista):
  return [elemento * 2 for elemento in lista]

In [ ]:
multiplica_por_2([1,2,3])

[2, 4, 6]

In [ ]:
multiplica_por_2([-1,-2,-3])

[-2, -4, -6]

In [ ]:
lista_devedores = [{"Nome" : "Fulano",
                    "Telefone" : "999999999",
                    "Endereço" : {"Rua" : "Rua X",
                                  "Número" : 142
                                  },
                    "Valores" : [100, 50, 300, 100]
                    },

                    {"Nome" : "Ciclano",
                    "Telefone" : "8888888888",
                    "Endereço" : {"Rua" : "Rua 2",
                                  "Número" : 541
                                  },
                     "Valores" : [3000, 100]
                    },

                   {"Nome" : "Fulano 2",
                    "Telefone" : "8888888888",
                    "Endereço" : {"Rua" : "Rua 4",
                                  "Número" : 511
                                  },
                     "Valores" : []
                    },

                   {"Nome" : "Ciclano 2",
                    "Telefone" : "8888888888",
                    "Endereço" : {"Rua" : "Rua 6",
                                  "Número" : 5231
                                  },
                     "Valores" : [10]
                    }
]

In [ ]:
def filtrar_lista(lista, valor_gasto_minimo):
  devedores = []
  for devedor in lista:
    if sum(devedor['Valores']) >= valor_gasto_minimo:
      devedores.append(devedor)

  return lista

### Alguns exercícios

**Implementar a função abaixo para calcular a menor distância entre dois elementos de uma lista**

In [ ]:
def minimum_distance(input):
  min_diff = 999999
  for i in range(len(input)):
    for j in range(len(input)):
      if j <= i:
        continue
      diff = abs(input[i] - input[j])
      # print(diff, min_diff)
      if diff < min_diff:
        min_diff = diff

  return min_diff

In [ ]:
list1 = [1, 5, 2]
list2 = [1, 4, 7, 11]
list3 = [1, 5]
list4 = [1, 5, 9, 10]

print(minimum_distance(list1) == 1)
print(minimum_distance(list2) == 3)
print(minimum_distance(list3) == 4)
print(minimum_distance(list4) == 1)

True
False
False
True

**Implementar uma função para imprimir a sequência de Fibonacci até uma determinada quantidade de números `n` passada por argumento**

Lembrando que a sequência de fibonacci até o 10o elemento é:
$$ 0, 1, 1, 2, 3, 5, 8, 13, 21, 34$$

In [33]:
def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))


def print_fibo(n):
  for i in range(n):
    print(recur_fibo(i))

print_fibo(10)

0
1
1
2
3
5
8
13
21
34

## Exceções

In [ ]:
try:
  2 / 0
except:
  print('deu erro')

deu erro

In [ ]:
a = [1, 20, 30, 0]

In [ ]:
import numpy as np

In [ ]:
a2 = []
for elemento in a:
  try:
    a2.append(1/elemento)
  except:
    a2.append(np.nan)

In [ ]:
a2

[1.0, 0.05, 0.03333333333333333, nan]

## Bibliotecas

### Numpy

In [ ]:
import numpy as np

In [ ]:
a = [1, 2, 3 ,4]

In [ ]:
min(a)

1

In [ ]:
max(a)

4

In [ ]:
np.mean(a)

2.5

In [ ]:
np.std(a)

1.118033988749895

In [ ]:
a = np.random.uniform(0, 1, 1000)
b = np.random.uniform(0, 1, 1000)

In [ ]:
%%timeit
a * b

The slowest run took 139.09 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 5: 1.17 µs per loop

In [ ]:
%%timeit
for i, j in zip(a, b):
  i * j

10000 loops, best of 5: 166 µs per loop

### Pandas

In [ ]:
import pandas as pd

In [ ]:
np.random.seed(200) # garantia que vamos ter sempre os mesmos resultados

# Gerar dos artificiais
test_data = pd.DataFrame(data={
    "genero": ["mulher"] * 50 + ["homem"] * 50,
    "idade_grupo": [1, 2, 3, 4] * 25,
    "altura": np.random.uniform(100, 185, 100)
})

# Criar alguns valores faltantes
test_data.loc[[0, 1, 2, 3, 96, 97, 98, 99],"altura"] = None

In [ ]:
test_data.head()

   genero  idade_grupo      altura
0  mulher            1         NaN
1  mulher            2         NaN
2  mulher            3         NaN
3  mulher            4         NaN
4  mulher            1  164.951958

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   genero       100 non-null    object
 1   idade_grupo  100 non-null    int64
 2   altura       92 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.5+ KB

In [ ]:
test_data.sort_values(by = 'altura')

    genero  idade_grupo      altura
5   mulher            2  100.243150
92   homem            1  100.467046
73   homem            2  100.790001
52   homem            1  101.365407
58   homem            3  101.496616
..     ...          ...         ...
3   mulher            4         NaN
96   homem            1         NaN
97   homem            2         NaN
98   homem            3         NaN
99   homem            4         NaN

[100 rows x 3 columns]

In [ ]:
test_data['altura'].min()

100.24315029288013

In [ ]:
test_data['altura'].max()

184.0350634245081

In [ ]:
test_data['altura'].mean()

146.26371648822465

In [ ]:
test_data['altura'].std()

25.936029720626053

In [ ]:
test_data.describe()

       idade_grupo      altura
count   100.000000   92.000000
mean      2.500000  146.263716
std       1.123666   25.936030
min       1.000000  100.243150
25%       1.750000  125.371869
50%       2.500000  145.559651
75%       3.250000  170.609214
max       4.000000  184.035063

In [ ]:
test_data.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

In [ ]:
test_data.duplicated().sum()

0

In [ ]:
test_data.groupby('genero')['altura'].mean()

genero
homem     144.208385
mulher    148.319048
Name: altura, dtype: float64

In [ ]:
test_data['genero'].value_counts()

mulher    50
homem     50
Name: genero, dtype: int64

### Preenchendo missing values com for

In [ ]:
altura2 = []
for indice, row in  test_data.iterrows():

  if np.isnan(row['altura']):
    if row['genero'] == 'homem':
      altura2.append(test_data.query('genero == "homem"')['altura'].mean())
    else:
      altura2.append(test_data.query('genero == "mulher"')['altura'].mean())
  else:
    altura2.append(row['altura'])

In [ ]:
test_data['altura'] = altura2

### Preenchendo missing values de forma mais eficiente

In [ ]:
test_data['altura'] = test_data['altura'].fillna(test_data.groupby('genero')['altura'].transform('mean'))

### Preenchendo missing values com merge

In [ ]:
mean_by_group = test_data.groupby(["genero", "idade_grupo"])["altura"].agg("median").reset_index().rename(columns={"altura": "altura_mediana"})
mean_by_group

   genero  idade_grupo  altura_mediana
0   homem            1      120.798888
1   homem            2      147.026435
2   homem            3      147.719914
3   homem            4      158.138386
4  mulher            1      161.360757
5  mulher            2      126.904260
6  mulher            3      156.609907
7  mulher            4      154.433444

In [ ]:
merged_df = test_data.merge(mean_by_group, on=["genero", "idade_grupo"], how="left")
merged_df.head()

   genero  idade_grupo      altura  altura_mediana
0  mulher            1         NaN      161.360757
1  mulher            2         NaN      126.904260
2  mulher            3         NaN      156.609907
3  mulher            4         NaN      154.433444
4  mulher            1  164.951958      161.360757

In [ ]:
merged_df.loc[merged_df["altura"].isna(), "altura"] = merged_df.loc[merged_df["altura"].isna(), "altura_mediana"]
merged_df.head()

   genero  idade_grupo      altura  altura_mediana
0  mulher            1  161.360757      161.360757
1  mulher            2  126.904260      126.904260
2  mulher            3  156.609907      156.609907
3  mulher            4  154.433444      154.433444
4  mulher            1  164.951958      161.360757

### Nomenclaturas

![image.png]()

https://colab.research.google.com/github/deepmind/educational/blob/master/colabs/summer_schools/intro_to_python_numpy_for_deep_learning.ipynb