# Lab - Sprint 1 - Python

Vamos revisar neste lab os conceitos aprendidos na sprint 1. 

## Colab

Primeiro, a título de curiosidade. Algumas funcionalidades de jupyter notebooks e do colab

### Equações 

$\sum_{i} x_i$

### GUI

In [ ]:
#@title String fields

text = 'oii' #@param {type:"string"}
dropdown = '1st option' #@param ["1st option", "2nd option", "3rd option"]
text_and_dropdown = 'value' #@param ["1st option", "2nd option", "3rd option"] {allow-input: true}

In [ ]:
#@title Slider. { display-mode: "form" }
number_slider = -0.9 #@param {type:"slider", min:-1, max:1, step:0.1}

In [ ]:
#@title Date fields
date_input = '2018-03-22' #@param {type:"date"}

print(date_input)

## Variáveis

In [ ]:
a = 1

In [ ]:
a

1

In [ ]:
b = 'olá, mundo!'
b

'olá, mundo!'

In [ ]:
a = 3
int(a / 2)

1

In [ ]:
int("olá")

ValueError: ignored

## Listas

In [ ]:
a = [3, 5, 10, 11]

In [ ]:
a[-1]

11

### Slicing

In [ ]:
a[1:]

[5, 10, 11]

In [ ]:
b = ["olá", "mundo", "!"]

In [ ]:
b[0]

'olá'

In [ ]:
c = [[1,2], [3,4], [5,6]]

In [ ]:
c[0][0]

1

In [ ]:
b = ["olá", "mundo", "!"]

In [ ]:
for elemento in b:
  print(elemento)

olá
mundo
!

In [ ]:
final = ""
for elemento in b: 
  final = final + " " + elemento

In [ ]:
final

' olá mundo !'

In [ ]:
final.upper()

' OLÁ MUNDO !'

In [ ]:
final.replace("!", "?")

' olá mundo ?'

In [ ]:
final.count("o")

2

In [ ]:
final.upper()

' OLÁ MUNDO !'

In [ ]:
final = final.upper()

In [ ]:
final

' OLÁ MUNDO !'

In [ ]:
a = [10, 99, 1, 50, -10]

In [ ]:
a

[10, 99, 1, 50, -10]

In [ ]:
sorted(a)

[-10, 1, 10, 50, 99]

In [ ]:
min(a)

-10

In [ ]:
max(a)

99

In [ ]:
a + a

[10, 99, 1, 50, -10, 10, 99, 1, 50, -10]

In [ ]:
a - a

TypeError: ignored

In [ ]:
a * 3

[10, 99, 1, 50, -10, 10, 99, 1, 50, -10, 10, 99, 1, 50, -10]

In [ ]:
a[0]

10

In [ ]:
a = sorted(a)

In [ ]:
a[0]

-10

In [ ]:
a = ["olá", "anilton", "!"]

In [ ]:
a

['olá', 'anilton', '!']

In [ ]:
sorted(a)

['!', 'anilton', 'olá']

## Dicionários

In [ ]:
a = {"car" : "carro",
     "cat" : "gato",
     "dog" : 'cachorro'
}

In [ ]:
a

{'car': 'carro', 'cat': 'gato', 'dog': 'cachorro'}

In [ ]:
a['car']

'carro'

In [ ]:
for chave, valor in a.items():
  print(chave, valor)

car carro
cat gato
dog cachorro

In [ ]:
a.keys()

dict_keys(['car', 'cat', 'dog'])

In [ ]:
a.values()

dict_values(['carro', 'gato', 'cachorro'])

### List Comprehension

In [ ]:
a = [10, 5, 20, 30]

In [ ]:
a2 = []

for elemento in a:
  a2.append(elemento * 2)

In [ ]:
a2

[20, 10, 40, 60]

In [ ]:
a2 = [elemento * 2 for elemento in a]

In [ ]:
a2 = {elemento : elemento * 2 for elemento in a}

In [ ]:
a2[5]

10

## Funções

In [ ]:
def multiplica_por_2(lista):
  return [elemento * 2 for elemento in lista]

In [ ]:
multiplica_por_2([1,2,3])

[2, 4, 6]

In [ ]:
multiplica_por_2([-1,-2,-3])

[-2, -4, -6]

### EXERCÍCIO
* Implementar a função abaixo para calcular a menor distância entre dois elementos de uma lista

In [ ]:
def minimum_distance(input):
  min_diff = 999999
  for i in range(len(input)):
    for j in range(len(input)):
      if j <= i:
        continue
      diff = abs(input[i] - input[j])
      # print(diff, min_diff)
      if diff < min_diff:
        min_diff = diff
  
  return min_diff

In [ ]:
list1 = [1, 5, 2]
list2 = [1, 4, 7, 11]
list3 = [1, 5]
list4 = [1, 5, 9, 10]

print(minimum_distance(list1) == 1)
print(minimum_distance(list2) == 3)
print(minimum_distance(list3) == 4)
print(minimum_distance(list4) == 1)

True
False
False
True

## Exceções

In [ ]:
try:
  2 / 0
except:
  print('deu erro')

deu erro

In [ ]:
a = [1, 20, 30, 0]

In [ ]:
import numpy as np

In [ ]:
a2 = []
for elemento in a: 
  try:
    a2.append(1/elemento)
  except:
    a2.append(np.nan)

In [ ]:
a2

[1.0, 0.05, 0.03333333333333333, nan]

## Bibliotecas

### Numpy

In [ ]:
import numpy as np

In [ ]:
a = [1, 2, 3 ,4]

In [ ]:
min(a)

1

In [ ]:
max(a)

4

In [ ]:
np.mean(a)

2.5

In [ ]:
np.std(a)

1.118033988749895

In [ ]:
a = np.random.uniform(0, 1, 1000)
b = np.random.uniform(0, 1, 1000)

In [ ]:
%%timeit
a * b

The slowest run took 139.09 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 5: 1.17 µs per loop

In [ ]:
%%timeit
for i, j in zip(a, b): 
  i * j

10000 loops, best of 5: 166 µs per loop

### Conceitos de Orientação a Objetos

### Pandas

In [ ]:
import pandas as pd

In [ ]:
np.random.seed(200) # garantia que vamos ter sempre os mesmos resultados

# Gerar dos artificiais
test_data = pd.DataFrame(data={
    "genero": ["mulher"] * 50 + ["homem"] * 50,
    "idade_grupo": [1, 2, 3, 4] * 25,
    "altura": np.random.uniform(100, 185, 100)
})

# Criar alguns valores faltantes
test_data.loc[[0, 1, 2, 3, 96, 97, 98, 99],"altura"] = None

In [ ]:
test_data.head()

   genero  idade_grupo      altura
0  mulher            1         NaN
1  mulher            2         NaN
2  mulher            3         NaN
3  mulher            4         NaN
4  mulher            1  164.951958

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   genero       100 non-null    object
 1   idade_grupo  100 non-null    int64
 2   altura       92 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.5+ KB

In [ ]:
test_data.sort_values(by = 'altura')

    genero  idade_grupo      altura
5   mulher            2  100.243150
92   homem            1  100.467046
73   homem            2  100.790001
52   homem            1  101.365407
58   homem            3  101.496616
..     ...          ...         ...
3   mulher            4         NaN
96   homem            1         NaN
97   homem            2         NaN
98   homem            3         NaN
99   homem            4         NaN

[100 rows x 3 columns]

In [ ]:
test_data['altura'].min()

100.24315029288013

In [ ]:
test_data['altura'].max()

184.0350634245081

In [ ]:
test_data['altura'].mean()

146.26371648822465

In [ ]:
test_data['altura'].std()

25.936029720626053

In [ ]:
test_data.describe()

       idade_grupo      altura
count   100.000000   92.000000
mean      2.500000  146.263716
std       1.123666   25.936030
min       1.000000  100.243150
25%       1.750000  125.371869
50%       2.500000  145.559651
75%       3.250000  170.609214
max       4.000000  184.035063

In [ ]:
test_data.groupby('genero')['altura'].mean()

genero
homem     144.208385
mulher    148.319048
Name: altura, dtype: float64

In [ ]:
test_data['genero'].value_counts()

mulher    50
homem     50
Name: genero, dtype: int64

### Preenchendo missing values com for

In [ ]:
altura2 = []
for indice, row in  test_data.iterrows():

  if np.isnan(row['altura']):
    if row['genero'] == 'homem':
      altura2.append(test_data.query('genero == "homem"')['altura'].mean())
    else:
      altura2.append(test_data.query('genero == "mulher"')['altura'].mean())
  else:
    altura2.append(row['altura'])

In [ ]:
test_data['altura'] = altura2

### Preenchendo missing values de forma mais eficiente

In [ ]:
test_data['altura'] = test_data['altura'].fillna(test_data.groupby('genero')['altura'].transform('mean'))

### Preenchendo missing values com merge

In [ ]:
mean_by_group = test_data.groupby(["genero", "idade_grupo"])["altura"].agg("median").reset_index().rename(columns={"altura": "altura_mediana"})
mean_by_group

   genero  idade_grupo  altura_mediana
0   homem            1      120.798888
1   homem            2      147.026435
2   homem            3      147.719914
3   homem            4      158.138386
4  mulher            1      161.360757
5  mulher            2      126.904260
6  mulher            3      156.609907
7  mulher            4      154.433444

In [ ]:
merged_df = test_data.merge(mean_by_group, on=["genero", "idade_grupo"], how="left")
merged_df.head()

   genero  idade_grupo      altura  altura_mediana
0  mulher            1         NaN      161.360757
1  mulher            2         NaN      126.904260
2  mulher            3         NaN      156.609907
3  mulher            4         NaN      154.433444
4  mulher            1  164.951958      161.360757

In [ ]:
merged_df.loc[merged_df["altura"].isna(), "altura"] = merged_df.loc[merged_df["altura"].isna(), "altura_mediana"]
merged_df.head()

   genero  idade_grupo      altura  altura_mediana
0  mulher            1  161.360757      161.360757
1  mulher            2  126.904260      126.904260
2  mulher            3  156.609907      156.609907
3  mulher            4  154.433444      154.433444
4  mulher            1  164.951958      161.360757