<a href="https://colab.research.google.com/github/CardosoJr/bootcamp/blob/main/Labs/Lab%201%20-%20E2D%20pre-processing%20titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise dados Titanic

Neste Lab vamos analisar os dados do Titanic. Estes dados representam os passageiros do navio e suas características. Podemos dizer que a variável target seria se um passageiro sobreviveu ou não, representado pela variável **Survived**

**Quais hipóteses queremos testar?**

## Vamos começar importando as bibliotecas necessária

In [ ]:
import pandas as pd
import numpy as np

## Overview dos Dados

**Ler CSV para datataframe e apresentar uma visão geral dos dados**

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/CardosoJr/bootcamp/main/Datasets/titanic.csv')

In [ ]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,665,1,3.0,"Lindqvist, Mr. Eino William",male,20.0,1,0,STON/O 2. 3101285,-3.123435,NaN,S
1,646,1,1.0,"Harper, Mr. Henry Sleeper",MALE,48.0,1,0,PC 17572,76.729200,D33,C
2,181,0,3.0,"Sage, Miss. Constance Gladys",FEMALE,NaN,8,2,CA. 2343,69.550000,NaN,S
3,292,1,1.0,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0,1,0,11967,91.079200,B49,C
4,823,0,1.0,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.000000,NaN,S
5,400,1,2.0,"Trout, Mrs. William H (Jessie L)",female,28.0,0,0,240929,12.650000,NaN,PORT S
6,541,1,1.0,"Crosby, Miss. Harriet R",female,36.0,0,2,WE/P 5735,71.000000,B22,PORT S
7,341,1,2.0,"Navratil, Master. Edmond Roger",male,2.0,1,1,230080,26.000000,F2,PORT S
8,581,1,NaN,"Christy, Miss. Julie Rachel",female,25.0,1,1,237789,30.000000,NaN,S
9,843,1,1.0,"Serepeca, Miss. Augusta",female,30.0,0,0,113798,31.000000,NaN,C

In [ ]:
df.tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1088,23,1,3.0,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,PORT Q
1089,194,1,2.0,"Navratil, Master. Michel M",male,3.0,1,1,230080,26.0000,F2,S
1090,206,0,3.0,"Strom, Miss. Telma Matilda",female,2.0,0,1,347054,10.4625,G6,PORT S
1091,31,0,1.0,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
1092,358,0,NaN,"Funk, Miss. Annie Clemmer",FEMALE,38.0,0,0,237671,13.0000,NaN,PORT S
1093,468,0,1.0,"Smart, Mr. John Montgomery",male,56.0,0,0,113792,26.5500,NaN,S
1094,385,0,3.0,"Plotcharsky, Mr. Vasil",MALE,NaN,0,0,349227,7.8958,NaN,S
1095,747,0,3.0,"Abbott, Mr. Rossmore Edward",male,16.0,1,1,C.A. 2673,20.2500,NaN,S
1096,619,1,2.0,"Becker, Miss. Marion Louise",female,4.0,2,1,230136,39.0000,F4,S
1097,754,0,3.0,"Jonkoff, Mr. Lalio",MALE,23.0,0,0,349204,7.8958,NaN,S

In [ ]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,1098.000000,1098.000000,983.000000,875.000000,1098.000000,1098.000000,1082.000000
mean,450.107468,0.386157,2.323499,29.457909,0.526412,0.389800,29.271991
std,258.784719,0.487089,0.831610,14.437504,1.142425,0.810801,48.490367
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,-88.096315
25%,226.250000,0.000000,2.000000,20.000000,0.000000,0.000000,7.859400
50%,449.500000,0.000000,3.000000,28.000000,0.000000,0.000000,13.000000
75%,675.750000,1.000000,3.000000,38.000000,1.000000,0.000000,30.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
df.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
529,452,0,NaN,"Hagland, Mr. Ingvald Olai Olsen",male,NaN,1,0,65303,19.9667,NaN,S
201,108,1,3.0,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S
437,357,1,NaN,"Bowerman, Miss. Elsie Edith",FEMALE,22.0,0,1,113505,55.0000,E33,PORT S
1094,385,0,3.0,"Plotcharsky, Mr. Vasil",MALE,NaN,0,0,349227,7.8958,NaN,S
785,723,0,2.0,"Gillespie, Mr. William Henry",male,34.0,0,0,12233,13.0000,NaN,S
260,169,0,1.0,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S
292,202,0,3.0,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,PORT S
956,768,0,3.0,"Mangan, Miss. Mary",female,30.5,0,0,364850,7.7500,NaN,PORT Q
1046,348,1,3.0,"Davison, Mrs. Thomas Henry (Mary E Finck)",FEMALE,NaN,1,0,386525,16.1000,NaN,S
1038,801,0,2.0,"Ponesell, Mr. Martin",MALE,34.0,0,0,250647,13.0000,NaN,S

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1098 entries, 0 to 1097
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1098 non-null   int64
 1   Survived     1098 non-null   int64
 2   Pclass       983 non-null    float64
 3   Name         1098 non-null   object
 4   Sex          1098 non-null   object
 5   Age          875 non-null    float64
 6   SibSp        1098 non-null   int64
 7   Parch        1098 non-null   int64
 8   Ticket       1098 non-null   object
 9   Fare         1082 non-null   float64
 10  Cabin        250 non-null    object
 11  Embarked     1095 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 103.1+ KB

In [ ]:
(df
  .isna()
  .mean()
  .sort_values(ascending = False)
  .reset_index()
  .rename(columns = {0 : 'missing'})
  .query("missing > 0")
)

      index   missing
0     Cabin  0.772313
1       Age  0.203097
2    Pclass  0.104736
3      Fare  0.014572
4  Embarked  0.002732

**Visão detalhada das colunas**

In [ ]:
df['Sex'].value_counts()

In [ ]:
df['Age'].value_counts(dropna = False)

In [ ]:
df['Pclass'].value_counts(dropna = False)

In [ ]:
df['Fare'].quantile([0.5])

In [ ]:
df['Fare'].quantile(np.linspace(0,1,11))

## Corrigir Inconsistências

Vamos analisar se existem inconsistências nos dados como dados duplicados, valores faltantes entre outros.

Para cada problema, é necessário analisar se existem padrões e qual a melhor maneira de corrigir.

### Analisar e corrigir dados duplicados

In [ ]:
df.duplicated(subset = ['PassengerId']).sum()

In [ ]:
df = df.drop_duplicates(subset = ['PassengerId'])

In [ ]:
df.duplicated().sum()

### Analisar e corrigir dados faltantes/incorretos

A teoria por trás de imputação de dados faltantes é extensa. Neste momento, veremos apenas uma metodologia básica.

Existem 3 tipos de dados faltantes:

- MCAR: missing completely at random
- MAR:  missing at random
- MNAR: missing not at random

Vamos simplificar e criar apenas duas categorias, os valores faltantes são:

- Aleatórios ou
- Não-aleatórios

As soluções mais simples que podemos pensar para lidar com dados faltantes são:

1. Deletar dados faltantes. No caso de valores faltantes serem aleatórios,
essa solução pode funcionar, porém não estaremos utilizando a completude de nossos dados. Essa solução é **perigosa** para dados faltantes não-aleatórios

2. Preencher com médias, por grupos ou não, e outras soluções ad hoc. É possível e pode funcionar para dados faltantes aleatórios. No entanto, pode distorcer bastante as distribuições dos dados.

É importante sempre avaliar a quantidade de dados faltantes, possíveis padrões e também entender com o **negócio** os principais motivos e razões para presença de dados faltantes.

#### Coluna Sex

In [ ]:
df['Sex'].unique()

In [ ]:
df['Sex'] =  df['Sex'].str.upper()

In [ ]:
df['Sex'].value_counts(dropna = False)

#### Coluna Age

In [ ]:
df.isna().mean()

In [ ]:
df[df['Age'].isna()].head(10)

In [ ]:
len(df[df['Age'].isna()]) / len(df)

In [ ]:
df_age_missing = df[df['Age'].isna()]

In [ ]:
df_age_missing['Sex'].value_counts() / df['Sex'].value_counts()

In [ ]:
df_age_missing['Survived'].value_counts() / df['Survived'].value_counts()

In [ ]:
df.groupby('Sex')['Age'].median()

In [ ]:
df['Parch'].value_counts(dropna = False)

In [ ]:
df.head()

In [ ]:
df['Familia'] = df['Parch'] + df['SibSp']

In [ ]:
(df['Familia'] > 0).value_counts()

In [ ]:
df['TEM_PARENTES'] = df['Familia'] > 0

In [ ]:
df['TEM_PARENTES'].value_counts()

In [ ]:
df.groupby('TEM_PARENTES')['Age'].mean()

In [ ]:
df.groupby('TEM_PARENTES')['Age'].transform('mean')

In [ ]:
df[df['Age'].isna()]['Pclass'].value_counts() / df['Pclass'].value_counts()

In [ ]:
df.groupby("Pclass")['Age'].mean()

Podemos preencher ou agrupando pela coluna TEM_PARENTES ou pelo Pclass (que parece ser mais preciso)

In [ ]:
# df['Age'].fillna(df.groupby('TEM_PARENTES')['Age'].transform('mean'), inplace = True)
df['Age'].fillna(df.groupby("Pclass")['Age'].transform('mean'), inplace = True)

In [ ]:
df['Age'].isna().sum()

Como sobrou alguns casos missing e são poucos, vamos preencher com a média

In [ ]:
df['Age'].fillna(df.groupby("Has_Relatives")['Age'].transform('mean'), inplace = True)

#### Coluna Embarked

In [ ]:
df['Embarked'].value_counts()

In [ ]:
portos_titanic = ['S', 'PORT S', 'Q']

In [ ]:
portos_titanic[0]

In [ ]:
conversao = { 'S' : 'PORT S',
             'PORT S' : 'PORT S',
             'C' : 'PORT C',
             'PORT C' : 'PORT C',
             'PORT Q' : 'PORT Q',
             'Q' : 'PORT Q'
}

#df['Embarked'] = df['Embarked'].map(conversao)

In [ ]:
df['Embarked'] = df['Embarked'].str.replace('PORT ', '')

In [ ]:
df['Embarked'].value_counts()

#### Coluna Pclass

In [ ]:
df['Pclass'].value_counts(dropna = False)

In [ ]:
df.groupby('Pclass')['Fare'].quantile([0.25, 0.75])

In [ ]:
def preencher_pclass(row):
  if pd.isna(row['Pclass']):
    if row['Fare'] < 15:
      return 3.0
    elif row['Fare'] < 26:
      return 2.0
    else:
      return 1.0
  else:
    return row['Pclass']

In [ ]:
df[df['Pclass'].isna()].iloc[0]

In [ ]:
preencher_pclass(df[df['Pclass'].isna()].iloc[0])

In [ ]:
df['Pclass'] = df.apply(preencher_pclass, axis = 1)

In [ ]:
df['Pclass'].value_counts(dropna = False)

#### Coluna Fare

In [ ]:
df[df['Fare'].isna()]['Age'].describe()

In [ ]:
df['Fare'] = np.where(df['Fare'] <= 0, np.nan, df['Fare'])

In [ ]:
df['Fare'].describe()

In [ ]:
df['Fare'].fillna(df.groupby('Pclass')['Fare'].transform('mean'), inplace = True)

In [ ]:
df['Fare'] = np.where(df['Age'] <= 1, 0, df['Fare'])

In [ ]:
df['Fare'].describe()

In [ ]:
df[df['Fare'] == 0]

## Analisar probabilidade de sobrevivência por grupos

In [ ]:
df['Survived'].value_counts()

In [ ]:
df['Survived'].mean()

In [ ]:
df.groupby("Pclass")['Survived'].mean()

In [ ]:
df['Crianca'] = df['Age'] <= 18
df.groupby('Crianca')['Survived'].mean()

In [ ]:
df.groupby(['Crianca', 'Pclass'])['Survived'].mean()

In [ ]:
df.groupby(['Crianca', 'Pclass'])['Survived'].count()

Podemos criar grupos de idade com pd.qcut ou pd.cut

In [ ]:
df['GRUPOS_IDADE'] = pd.qcut(df['Age'], q = 4)
# df['GRUPOS_IDADE'] = pd.cut(df['Age'], bins = 5)

In [ ]:
df.groupby(['GRUPOS_IDADE'])['Survived'].mean()

In [ ]:
df.groupby(['GRUPOS_IDADE', 'Pclass']).agg({'Survived' : ['mean', 'count']})